.responsabilidad {
    text-align: center;
    background-color: #004E98;
    /* margin: 1rem; */
    padding: 1rem;
   /*  border-radius: 12px; */
   color: #EBEBEB;
}

.responsabilidad .container .img{
    width: 80vw;
    border-radius: 13px;
    padding: 1rem 0;
}

.responsabilidad .container .titulo{
    font-weight: 600;
}


@media (min-width: 768px){

.responsabilidad .container .img{
    width: 60vw;
    margin-top: 0rem;
}

.responsabilidad .container .titulo{
    font-size: 1.6rem;
    margin: 0.5rem 0 1rem;
    padding: 0;
}

.responsabilidad .container .texto{
    padding: 0rem;
    margin: 0;
}

}

@media (min-width: 1024px){

.responsabilidad{
    padding: 2rem;
}    

.responsabilidad .container{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin: 0 3rem ;
}

.responsabilidad .container .img{
    width: 400px;
    margin-left: -5vw;
    margin-top: 1rem;
}

.responsabilidad .container .data{
    margin-left: 5rem;
}

.responsabilidad .container .titulo{
    margin-top: 2rem;
}

.responsabilidad .container .data .texto{
    margin: 0;
    padding: 0;
}

}