.responsabilidad {
    text-align: center;
    background-color: #004E98;
    padding: 1rem;
   color: #EBEBEB;
}

.responsabilidad .container{
    display: flex;
    flex-direction: column;
}

.responsabilidad .container .img{
    width: 80vw;
    padding: 1rem 0;
   border-radius: 30px;
}

.responsabilidad .container .titulo{
    font-weight: 600;
}


@media (min-width: 768px){

.responsabilidad .container .img{
    width: 60vw;
    margin-top: 0rem;
}

.responsabilidad .container .titulo{
    font-size: 1.6rem;
    margin: 0.5rem 0 1rem;
    padding: 0;
}

.responsabilidad .container .texto{
    padding: 0rem;
    margin: 0;
    padding-bottom: 2rem;
}

}

@media (min-width: 1024px){

.responsabilidad{
    padding: 0rem;
}    

.responsabilidad .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.responsabilidad .container .containerimg .img{
    width: 40vw;
    max-width: 500px;
}

.responsabilidad .container .data{
    width: 60vw;
    margin-left: 5vw;
}




/* .responsabilidad .container .img{
    margin-top: 1rem;
    width: 450px;
    margin-left: 8vw;
}

.responsabilidad .container .data{
    margin-left: 8vw;
}

.responsabilidad .container .titulo{
    margin-top: 2rem;
}

.responsabilidad .container .texto{
    font-size: 1.2vw;
} */

}

@media (min-width: 1440px){

    .responsabilidad .container{
        justify-content: space-evenly;
    }

    .responsabilidad .container .img{
        width: 600px;
    }

    .responsabilidad .container .titulo{
        font-size: 2rem;
    }

    .responsabilidad .container .texto{
        font-size: 1.1rem;
    }
}