.mascotas{
    margin: 2rem 7vw 3rem;
}

.mascotas .container{
    padding: 1rem 1.25rem;
    background-color: #EBEBEB;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mascotas .container .img{
    width: 80vw;
    max-width: 400px;
    display: flex;
    justify-content: center;
    margin: 0.5rem auto 1rem;
    border-radius: 30px;
}

.mascotas .container .titulo{
    font-weight: 600;
    text-align: center;
    margin: 1.5rem auto 1rem;
    text-transform: uppercase;
}

.mascotas .container .texto{
    text-align: center;
    padding: 0.5vw;
}

.mascotas .container .botones{
    display: flex;
    flex-direction: column;
}

.mascotas .container .botones .boton{
    background-color: #3A6EA5;
    color: #EBEBEB;
    border-radius: 13px;
    border-color: none;
    border: none;
    padding: 0.5rem 2rem;
    width: 45vw;
    margin: 0.25rem;
}

.mascotas .container .botones .boton:hover{
    opacity: 0.9;
}

.mascotas .productos{
    margin-top: 2.5rem;
    background-color: #EBEBEB;
    padding: 0.8rem;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5rem;
}

.mascotas .productos .titulo,
.mascotas .productos .texto{
    text-align: center;
}

.mascotas .productos .img{
    width: 70vw;
    max-width: 300px;
    max-height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
}

.mascotas .productos .titulo{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
}


@media (min-width: 768px){
    .mascotas{
        margin: 4rem;
    }

    .mascotas .container{
        padding: 2rem 3rem;
    }
    
    .mascotas .productos .img{
        width: 60vw;
    }

    .mascotas .container .botones .boton{
        padding: 0.5rem 2rem;
        width: 30vw;
        margin: 0.25rem;
    }
    
}

@media (min-width: 1024px){
    .mascotas{
        margin: 4rem 6rem;
    }

    .mascotas .container{
        display: flex;
    }
    
    .mascotas .container .img{
        width: 33vw;
        margin-top: 2rem;
    }
    
    .mascotas .container .texto{
        font-size: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .mascotas .container .botones{
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: center;
    }

    .mascotas .container .botones .boton{
        width: 13vw;
        font-size: 1rem;
        padding: 0.75rem;
    }

    .mascotas .productos{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }

    .mascotas .productos .img{
        margin: 5vh 0;
        width: 22vw;
        padding-right: 5vw;
        margin-left: 1.5rem;
        max-width: none;
    }

    .mascotas .productos .titulo{
        text-align: center;
        margin-top: 1.5rem;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .mascotas .productos .texto{
        margin: 0;
        font-size: 1.4vw;
    }
}

@media (min-width: 1440px){
    .mascotas{
        margin: 5rem 8rem;
    }
    
    .mascotas .container .img{
        width: 40vw;
        margin-top: 2rem;
    }
    
    .mascotas .container .titulo{
        font-size: 2.5rem;
        margin: 2.5rem auto 1.5rem;
    }
    
    .mascotas .container .texto{
        font-size: 1.15rem;
        padding: 0 3rem;
    }

    .mascotas .productos .titulo{
        font-size: 2.5rem;
    }
}