.navbar .logo{
    height: 5vh;
}

.navbar{
    padding: 23px 0;
}

.navbar-nav{
    margin-top: 8px;
}

.navbar .items{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    margin-bottom: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-link{
    text-align: center;
    text-transform: uppercase;
}