.mapContainer{
    display: flex;
    justify-content: center;
    padding: 2.5rem 2rem;
    margin: auto;
    height: 50vh;
    background-color: #3A6EA5;
}

iframe{
    width: 80vw;
    border-radius: 30px;
}
@media (min-width: 768px){
    .mapContainer .map{
        width: 90vw;
    }
}